@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Montserrat:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-sm {
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 2px;
}

.text-shadow-md {
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 4px;
}

.text-shadow-lg {
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
